<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem nam maxime porro itaque repudiandae inventore explicabo ex, dolorum ducimus rerum! Nihil explicabo, atque doloribus odio sed eligendi. Quos, non vero!  
            </p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem nam maxime porro itaque repudiandae inventore explicabo ex, dolorum ducimus rerum! Nihil explicabo, atque doloribus odio sed eligendi. Quos, non vero!  
            </p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem nam maxime porro itaque repudiandae inventore explicabo ex, dolorum ducimus rerum! Nihil explicabo, atque doloribus odio sed eligendi. Quos, non vero!  
            </p>
        </ul>
    </div>

</div>              

