.row{
    padding: 20px;
    background-color: #8643f4;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #5E17EB;
    box-shadow: ejeX ejeY difumasion color;
    border-radius: 15%;
}