<div class="row">
   
    <div class= "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" class="fotodeperfil">
    </div>

    <div class= "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ana Laura Quispe</p>
        <p> Full Stack Developer Jr</p>
    </div>

    <div class= "col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, modi. Libero suscipit hic quidem est facere deserunt et ad sequi quaerat, iure nobis at assumenda quos excepturi quas iste necessitatibus!</p>
        </span>
    </div>
    
</div>