<div class="row">
    <h1>Hard & Soft skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#6FCFF3'"
        [innerStrokeColor]="'#5E17EB'"
        [animation]="true"
        [animationDuration]="300"
     ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../../assets/js.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#6FCFF3'"
        [innerStrokeColor]="'#5E17EB'"
        [animation]="true"
        [animationDuration]="300"
     ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#6FCFF3'"
        [innerStrokeColor]="'#5E17EB'"
        [animation]="true"
        [animationDuration]="300"
     ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../../assets/git.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#6FCFF3'"
        [innerStrokeColor]="'#5E17EB'"
        [animation]="true"
        [animationDuration]="300"
     ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#6FCFF3'"
        [innerStrokeColor]="'#5E17EB'"
        [animation]="true"
        [animationDuration]="300"
     ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [title]="'English'"
        [titleColor]="'#000000'"
        [titleFontSize]="'3em'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="false"  
        [imageSrc]="'../../assets/.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#6FCFF3'"
        [innerStrokeColor]="'#5E17EB'"
        [animation]="true"
        [animationDuration]="300"
     ></circle-progress>
    </div>

</div>


